<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/base.html :: headerfiles(title='Library Demo - Nuovo autore')"></head>
<body>
	<header th:replace="fragments/base.html :: header"></header>
	<div>
		<br>
		<h2>Inserisci nuovo autore: </h2>
		<br>
		<div class="scatola">
			<form th:action="@{/autore}" method="POST" th:object="${autore}">
			<div th:if="${#fields.hasGlobalErrors()}">
	    		<p th:each="err : ${#fields.globalErrors()}" th:text="${err}">ERRORE</p> 
	  		</div>
	  		<br>
	  		<div>
	    		<span th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}"></span><br>
	    		<span><input placeholder="Nome" type="text" th:field="*{nome}" /></span>
	  		</div> 
	  		<br>
	 		 <div>
	 		 	<span th:if="${#fields.hasErrors('cognome')}" th:errors="*{cognome}"></span><br>
	    		<span><input placeholder="Cognome" type="text" th:field="*{cognome}" /></span>
	 		 </div> 
	 		 <br>
	 		 <div>
	 			 <span th:if="${#fields.hasErrors('annoNascita')}" th:errors="*{annoNascita}"></span><br>
	    		<span><input placeholder="Anno di nascita" type="number" th:field="*{annoNascita}" /></span>
	 		 </div> 
	 		 <br>
	  		 <div>
	  		 	<span th:if="${#fields.hasErrors('cittaNatale')}" th:errors="*{cittaNatale}"></span><br>
	    		<span><input placeholder="Città natale" type="text" th:field="*{cittaNatale}" /></span>
	  		 </div> 
	  		 <br>
	 		 <div>
	    		<span><button type="submit">Conferma</button></span>
	  		 </div>
	  		 <br>
		</form>
		</div>
	</div>
	<br>
    <footer th:replace="fragments/base.html :: footer('/default')"></footer>
</body>
</html>