<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/base.html :: headerfiles(title='Library Demo - Success')"> </head>
<body>
	<header th:replace="fragments/base.html :: header"></header>
	<div>
		<br>
    	<h2 th:text="#{header.registra}">Registrazione</h2>
    	<br>
    	<div class="scatola">
    		<br><h3>Registrazione avvenuta con successo!</h3><br>
		</div>
	</div>
	<br>
    <footer th:replace="fragments/base.html :: footer(home='/')"></footer>
</body>
</html>