<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/base.html :: headerfiles(title='Library Demo - Cancella Editore')"></head>
<body>
	<header th:replace="fragments/base.html :: header"></header>
	<div>
		<br>
		<h2>Cancella editore: </h2>
		<br>
		<div class="scatola">
			<br>
			<span>Id:</span><span>&nbsp;</span>
			<span th:text="${editore.id}">id</span><br><br>
			<span>Nome:</span><span>&nbsp;</span>
			<span th:text="${editore.nome}">nome</span><br><br>
			<span>Anno di fondazione:</span><span>&nbsp;</span>
			<span th:text="${editore.annoFondazione}">annoFondazione</span><br><br>
			<span>Paese:</span><span>&nbsp;</span>
			<span th:text="${editore.paese}">Paese</span><br><br>
			<div>
		   		<a href="editore.html" th:href="@{'/deleteEditore' + '/' + ${editore.id} }" th:text="Elimina">Elimina</a>
			 </div>
			<br>
		</div>
	</div>
	<br>
    <footer th:replace="fragments/base.html :: footer('/default')"></footer>
</body>
</html>