<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/base.html :: headerfiles(title='Library Demo - Cancella Autore')"></head>
<body>
	<header th:replace="fragments/base.html :: header"></header>
	<div>
		<br>
		<h2>Cancella autore: </h2>
		<br>
		<div class="scatola">
			<br>
			<span>Id:</span><span>&nbsp;</span>
			<span th:text="${autore.id}">id</span><br><br>
			<span>Nome:</span><span>&nbsp;</span>
			<span th:text="${autore.nome}">nome</span><br><br>
			<span>Cognome:</span><span>&nbsp;</span>
			<span th:text="${autore.cognome}">cognome</span><br><br>
			<span>Anno di nascita:</span><span>&nbsp;</span>
			<span th:text="${autore.annoNascita}">annoNascita</span><br><br>
			<span>Luogo di nascita:</span><span>&nbsp;</span>
			<span th:text="${autore.cittaNatale}">cittaNatale</span><br><br>
			<div>
		   		<a href="autore.html" th:href="@{'/deleteAutore' + '/' + ${autore.id} }" th:text="Elimina">Elimina</a>
			 </div>
			 <br>
		</div>
	</div>
	<br>
    <footer th:replace="fragments/base.html :: footer('/default')"></footer>
</body>
</html>