<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/base.html :: headerfiles(title='Library Demo - Modifica editore')"></head>
<body>
	<header th:replace="fragments/base.html :: header"></header>
	<div>
		<br>
		<h2>Modifica editore: </h2>
		<br>
		<div class="scatola">
			<form th:action="@{/updateEditore}" method="POST" th:object="${editore}">
			<div th:if="${#fields.hasGlobalErrors()}">
	    		<p th:each="err : ${#fields.globalErrors()}" th:text="${err}">ERRORE</p> 
	  		</div>
	  		<br>
	  		<div>
	    		<span th:if="${#fields.hasErrors('id')}" th:errors="*{id}"></span><br>
	    		<span><input value="@{editore.id}" type="text" th:field="*{id}" /></span>
	  		</div> 
	  		<br>
	  		<div>
	    		<span th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}"></span><br>
	    		<span><input value="@{editore.nome}" type="text" th:field="*{nome}" /></span>
	  		</div> 
	  		<br>
	 		 <div>
	 			 <span th:if="${#fields.hasErrors('annoFondazione')}" th:errors="*{annoFondazione}"></span><br>
	    		<span><input value="@{editore.annoFondazione}" type="number" th:field="*{annoFondazione}" /></span>
	 		 </div> 
	 		 <br>
	  		 <div>
	  		 	<span th:if="${#fields.hasErrors('paese')}" th:errors="*{paese}"></span><br>
	    		<span><input value="@{editore.paese}" type="text" th:field="*{paese}" /></span>
	  		 </div> 
	  		 <br>
	 		 <div>
	    		<span><button type="submit">Conferma</button></span>
	  		 </div>
	  		 <br>
		</form>
		</div>
	</div>
	<br>
    <footer th:replace="fragments/base.html :: footer('/default')"></footer>
</body>
</html>